*aplink*
log
xlog
B
.oraccstart
*.log
*.dump
01*
02*
*~
*.bak
.bash_history
.bash_profile
.bashrc
.cache/
.config/
.emacs
.gitconfig
.lesshst
.local/
.profile
.session
.ssh/
.status
00any/
00bak/
01bld/
01tmp/
imv.atf
nohup.out
oracc.log
request.zip
response.zip
